.top-container {
  border: 0px solid black;
  margin: 10px;
  padding: 5px;
  top: 20px;
}

.container {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  max-width: 100%;
  overflow-y: auto;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 12px, 12px, 12px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}

.padding {
  padding: 5px 0px 5px 0px;
}

.fortypxfont {
  font-size: 30px;
}

.h3 {
  text-align: center;
}

#logo {
  display: inline-block;
  margin: 5px;
  /* margin: 20px was off */
  float: left;
  height: 100px;
  width: auto;
  /* correct proportions to specified height */
}

body {
  padding: 40px;
}

.glossy-button {
  display: inline-block;
  position: relative;
  background-color: #AAA;
  background-image: linear-gradient(
      /* chrome */
      hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
      hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2));
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px 10px;
  text-shadow:
    0 0 15px hsla(0, 0%, 100%, 1),
    /* bloom */
    0 2px 4px hsla(0, 0%, 0%, 0.7);
  /* drop shadow */
  border: none;
  border-radius: 50px;
  margin: 10px;
  box-shadow:
    inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
    /* top light */
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
    /* bottom shadow */
    /* multiple light sources yall */
    -8px 8px 5px hsla(0, 0%, 0%, 0.15),
    /* drop shadow 1 */
    5px 18px 10px hsla(0, 0%, 0%, 0.2);
  /* drop shadow 2 */
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

/* highlight */
.glossy-button:before {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 5px;
  height: 30px;
  border-radius: 15px;
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
}

.glossy-button--blue {
  background-color: #19F;
}

.glossy-button--gold {
  background-color: #EA0;
}

.glossy-button--green {
  background-color: #6C6;
}

.glossy-button--red {
  background-color: #E21;
}

.glossy-button--brown {
  background-color: rgb(123, 63, 0);
}

.glossy-button:hover {
  transform: scale(1.05);
  box-shadow:
    inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
    /* top light */
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
    /* bottom shadow */
    /* multiple light sources yall */
    -12px 12px 5px hsla(0, 0%, 0%, 0.15),
    /* drop shadow 1 */
    10px 25px 10px hsla(0, 0%, 0%, 0.2);
  /* drop shadow 2 */
}


.table-color-brown {
  background-color: rgb(145, 97, 47);
}

.div-para-color-brown {
  background-color: rgb(145, 97, 47);
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0855ae;
}

.popup {
  background-color: #ffffff;
  width: 420px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
  text-align: center;
}

.popup h2 {
  margin-top: -20px;
}

.popup p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}

.counterimg {
  float: right;
  width: 200px;
  padding: 10px;
}